.dc_input_container {
    -fx-background-color: #888888;
}

.dc_text_area {
    -fx-background-color: #EEEEEE;
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
    -fx-font-family: "Verdana";
}

.new-line {
    -rtfx-background-color: #8cea8c; /* Light green background */
}

.styled-text-area .old-line {
    -fx-fill: #e37d7d; /* Light red background */
    /*-rtfx-background-color: yellow;*/
}

.old-line-highlight{
    -rtfx-background-color: #e13d3d;
}

.old-line-highlight .lineNumber {
    -fx-text-fill: red;
}

.new-line-highlight {
    -rtfx-background-color: #44d315; /* Light red background */
    /*-rtfx-background-color: yellow;*/
}

.no-diff-bg {
    -fx-background-color: #EEEEEE;
}

.text_area_details_container {
    -fx-background-color: #EEEEEE;
    -fx-border-radius: 5 5 5 5;
    -fx-background-radius: 5 5 5 5;
    -fx-font-family: "Verdana";
    -fx-spacing: 3;
    -fx-padding: 2;
}



.virtualized-scroll-pane > .scroll-bar:vertical {
    /* your styling here */
    -fx-background-color: transparent;
    /*-fx-pref-width: 1.2em;*/
}

.virtualized-scroll-pane .scroll-bar:horizontal .track,
.virtualized-scroll-pane .scroll-bar:vertical .track{
    -fx-background-color:transparent;
    -fx-border-color:transparent;
    -fx-background-radius: 0em;
    -fx-border-radius:2em;
}

.virtualized-scroll-pane .scroll-bar:vertical .thumb ,
.virtualized-scroll-pane .scroll-bar:horizontal .thumb {
    -fx-background-color: #dedad9;
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}


.virtualized-scroll-pane .scroll-bar:vertical > .increment-button,
.virtualized-scroll-pane .scroll-bar:vertical > .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 10 0 0;
}

.virtualized-scroll-pane .scroll-bar:horizontal .increment-button,
.virtualized-scroll-pane .scroll-bar:horizontal .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 10 0 0;
}

.virtualized-scroll-pane .scroll-bar .increment-arrow ,
.virtualized-scroll-pane .scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding:0;
}